Drop and Drop duplicate

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

In [4]:
spark=SparkSession.builder.appName("dropduplicate.com").getOrCreate()

24/09/11 11:23:49 WARN Utils: Your hostname, AI-CJB-LAP-459 resolves to a loopback address: 127.0.1.1; using 192.168.1.164 instead (on interface wlp0s20f3)
24/09/11 11:23:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/11 11:23:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/11 11:23:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [17]:
data= [("James", "Sales", 3000), \
    ("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]
columns=["emp_name","department","salary"]
df=spark.createDataFrame(data=data,schema=columns)

In [18]:
df.show()

+--------+----------+------+
|emp_name|department|salary|
+--------+----------+------+
|   James|     Sales|  3000|
|   James|     Sales|  3000|
| Michael|     Sales|  4600|
|  Robert|     Sales|  4100|
|   Maria|   Finance|  3000|
|   James|     Sales|  3000|
|   Scott|   Finance|  3300|
|     Jen|   Finance|  3900|
|    Jeff| Marketing|  3000|
|   Kumar| Marketing|  2000|
|    Saif|     Sales|  4100|
+--------+----------+------+

CREATING A DISTINCT ROWS (BY COMPARING ALL COLUMNS)

In [19]:
distinct_df=df.distinct()
print("distinct count="+str(distinct_df.count()))
distinct_df.show()

distinct count=9
+--------+----------+------+
|emp_name|department|salary|
+--------+----------+------+
|   James|     Sales|  3000|
| Michael|     Sales|  4600|
|  Robert|     Sales|  4100|
|   Maria|   Finance|  3000|
|     Jen|   Finance|  3900|
|   Scott|   Finance|  3300|
|    Jeff| Marketing|  3000|
|   Kumar| Marketing|  2000|
|    Saif|     Sales|  4100|
+--------+----------+------+

DROP THE DUPLICATES

In [20]:
unique_df=df.dropDuplicates()
print("distinct count="+str(unique_df.count()))
unique_df.show()

distinct count=9
+--------+----------+------+
|emp_name|department|salary|
+--------+----------+------+
|   James|     Sales|  3000|
| Michael|     Sales|  4600|
|  Robert|     Sales|  4100|
|   Maria|   Finance|  3000|
|     Jen|   Finance|  3900|
|   Scott|   Finance|  3300|
|    Jeff| Marketing|  3000|
|   Kumar| Marketing|  2000|
|    Saif|     Sales|  4100|
+--------+----------+------+

DROP THE DUPLICATES WITH SPECIFIED COLUMNS

In [23]:
drop_df=df.dropDuplicates(["department","salary"])
print("unique values  = "+str(drop_df.count()))
drop_df.show()

unique values  = 8
+--------+----------+------+
|emp_name|department|salary|
+--------+----------+------+
|   Maria|   Finance|  3000|
|   Scott|   Finance|  3300|
|     Jen|   Finance|  3900|
|   Kumar| Marketing|  2000|
|    Jeff| Marketing|  3000|
|   James|     Sales|  3000|
|  Robert|     Sales|  4100|
| Michael|     Sales|  4600|
+--------+----------+------+