LEAARNING ABOUT THE PARQUT FILE FORMAT

In [11]:
import pyspark
# from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("parquet-exp.com").getOrCreate()

In [12]:
data=[
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]

In [13]:
columns=["name","languages","state","Gender"]
df=spark.createDataFrame(data=data,schema=columns)
df.show(5)

+--------------------+------------------+-----+------+
|                name|         languages|state|Gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+
only showing top 5 rows

In [6]:
df.write.parquet("/home/ai/Downloads/Pyspark_learning/sampleparquet.parquet")

In [14]:
df2=spark.read.parquet("/home/ai/Downloads/Pyspark_learning/sampleparquet.parquet")
df2.show()

+--------------------+------------------+-----+------+
|                name|         languages|state|Gender|
+--------------------+------------------+-----+------+
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     F|
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
+--------------------+------------------+-----+------+

In [2]:
dataDF = [(('James','','Smith'),'1991-04-01','M',3000),
  (('Michael','Rose',''),'2000-05-19','M',4000),
  (('Robert','','Williams'),'1978-09-05','M',4000),
  (('Maria','Anne','Jones'),'1967-12-01','F',4000),
  (('Jen','Mary','Brown'),'1980-02-17','F',-1)
  
]

In [3]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
schema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('Salary', IntegerType(), True)
         ])

In [4]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('parquetExamples.com').getOrCreate()
df3 = spark.createDataFrame(data = dataDF, schema = schema)
df3.printSchema()
df3.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

+--------------------+----------+------+------+
|                name|       dob|gender|Salary|
+--------------------+----------+------+------+
|    {James, , Smith}|1991-04-01|     M|  3000|
|   {Michael, Rose, }|2000-05-19|     M|  4000|
|{Robert, , Williams}|1978-09-05|     M|  4000|
|{Maria, Anne, Jones}|1967-12-01|     F|  4000|
|  {Jen, Mary, Brown}|1980-02-17|     F|    -1|
+--------------------+----------+------+------+

appending the data from the new dataframe to the existing file

In [7]:
df3.write.parquet("/home/ai/Downloads/Pyspark_learning/sampleparquet1.parquet")

In [15]:
df2.write.mode("append").parquet("/home/ai/Downloads/Pyspark_learning/sampleparquet1.parquet")
df2.show()

+--------------------+------------------+-----+------+
|                name|         languages|state|Gender|
+--------------------+------------------+-----+------+
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|                NULL|              NULL| NULL|     F|
|                NULL|              NULL| NULL|     F|
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|                NULL|              NULL| NULL|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
+--------------------+------------------+-----+------+

the file has been appended since it has same schema but the stuctfield is different so it turns out to be null