1.Create SparkSession and Sparkcontext
2.Read the input file as RDD using sparkcontext
3.Apply filter to get header and data
4.Get the indexof the required column
5.Function definition to calcukate the final price
6.Call the function and create final result as expected
7.Save the final spark RDD as textfile

In [2]:
# 1. 
from pyspark.sql import SparkSession

spark= SparkSession.builder.appName("practice questions.com").getOrCreate()
df=spark.sparkContext

24/09/10 16:37:02 WARN Utils: Your hostname, AI-CJB-LAP-459 resolves to a loopback address: 127.0.1.1; using 192.168.1.164 instead (on interface wlp0s20f3)
24/09/10 16:37:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/10 16:37:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# 2.
rdd_read=df.textFile("/home/ai/Downloads/Pyspark_learning/input_real_estate.txt")
print (rdd_read.collect())

['Property_ID|Location|Price|Bedrooms|Bathrooms|Size|Price_SQ_FT|Status', '1461262|Arroyo Grande|795000|3|3|2371|365.3|Short Sale', '1478004|Paulo Pablo|399000|4|3|2818|163.59|Short Sale', '1486551|Paulo Pablo|545000|4|3|3032|179.75|Short Sale', '1492832|Santa Bay|909000|4|4|3540|286.78|Short Sale', '1499102|Thomas Country|109900|3|1|1249|98.99|Short Sale', '1489132|Thomas Country|109000|2|1|1129|93.99|Short Sale', '1467262|Fort Worth|987000|4|3|2771|465.3|Short Sale', '1478114|Paulo Pablo|409000|4|3|2918|223.19|Short Sale', '1402551|Nashville|545000|4|3|2932|169.75|Short Sale', '1405832|San Jose|980000|4|4|3340|290.98|Short Sale', '1493302|Fort Worth|119900|3|2|2249|198.99|Short Sale', '1412332|Thomas Country|129000|3|2|1329|73.99|Short Sale', '1469062|Arroyo Grande|798000|3|4|2321|235.9|Short Sale', '1498004|Nashville|789000|4|3|2419|263.59|Short Sale', '1586751|Nashville|896000|4|3|3132|199.75|Short Sale', '1433232|Glendale|987000|4|4|3340|216.78|Short Sale', '1495502|Fort Worth|219900|3|2|987|200.99|Short Sale', '1489100|San Jose|107200|1|1|789|78.99|Short Sale']

In [5]:
#3.
rdd1=rdd_read.filter(lambda l: not l.startswith("Property_ID"))
header=rdd_read.filter(lambda l : l.startswith("Property_ID"))
print(rdd1.collect())
print(header.collect())

['1461262|Arroyo Grande|795000|3|3|2371|365.3|Short Sale', '1478004|Paulo Pablo|399000|4|3|2818|163.59|Short Sale', '1486551|Paulo Pablo|545000|4|3|3032|179.75|Short Sale', '1492832|Santa Bay|909000|4|4|3540|286.78|Short Sale', '1499102|Thomas Country|109900|3|1|1249|98.99|Short Sale', '1489132|Thomas Country|109000|2|1|1129|93.99|Short Sale', '1467262|Fort Worth|987000|4|3|2771|465.3|Short Sale', '1478114|Paulo Pablo|409000|4|3|2918|223.19|Short Sale', '1402551|Nashville|545000|4|3|2932|169.75|Short Sale', '1405832|San Jose|980000|4|4|3340|290.98|Short Sale', '1493302|Fort Worth|119900|3|2|2249|198.99|Short Sale', '1412332|Thomas Country|129000|3|2|1329|73.99|Short Sale', '1469062|Arroyo Grande|798000|3|4|2321|235.9|Short Sale', '1498004|Nashville|789000|4|3|2419|263.59|Short Sale', '1586751|Nashville|896000|4|3|3132|199.75|Short Sale', '1433232|Glendale|987000|4|4|3340|216.78|Short Sale', '1495502|Fort Worth|219900|3|2|987|200.99|Short Sale', '1489100|San Jose|107200|1|1|789|78.99|Short Sale']
['Property_ID|Location|Price|Bedrooms|Bathrooms|Size|Price_SQ_FT|Status']

In [7]:
#4.
rdd2=rdd1.flatMap(lambda x:x.split(",")).map(lambda x:x.split("|"))
print(rdd2.collect())

[['1461262', 'Arroyo Grande', '795000', '3', '3', '2371', '365.3', 'Short Sale'], ['1478004', 'Paulo Pablo', '399000', '4', '3', '2818', '163.59', 'Short Sale'], ['1486551', 'Paulo Pablo', '545000', '4', '3', '3032', '179.75', 'Short Sale'], ['1492832', 'Santa Bay', '909000', '4', '4', '3540', '286.78', 'Short Sale'], ['1499102', 'Thomas Country', '109900', '3', '1', '1249', '98.99', 'Short Sale'], ['1489132', 'Thomas Country', '109000', '2', '1', '1129', '93.99', 'Short Sale'], ['1467262', 'Fort Worth', '987000', '4', '3', '2771', '465.3', 'Short Sale'], ['1478114', 'Paulo Pablo', '409000', '4', '3', '2918', '223.19', 'Short Sale'], ['1402551', 'Nashville', '545000', '4', '3', '2932', '169.75', 'Short Sale'], ['1405832', 'San Jose', '980000', '4', '4', '3340', '290.98', 'Short Sale'], ['1493302', 'Fort Worth', '119900', '3', '2', '2249', '198.99', 'Short Sale'], ['1412332', 'Thomas Country', '129000', '3', '2', '1329', '73.99', 'Short Sale'], ['1469062', 'Arroyo Grande', '798000', '3', '4', '2321', '235.9', 'Short Sale'], ['1498004', 'Nashville', '789000', '4', '3', '2419', '263.59', 'Short Sale'], ['1586751', 'Nashville', '896000', '4', '3', '3132', '199.75', 'Short Sale'], ['1433232', 'Glendale', '987000', '4', '4', '3340', '216.78', 'Short Sale'], ['1495502', 'Fort Worth', '219900', '3', '2', '987', '200.99', 'Short Sale'], ['1489100', 'San Jose', '107200', '1', '1', '789', '78.99', 'Short Sale']]

TO GET THE INDEX OF EACH COLUMN

In [13]:
col_list=header.first().split("|")
c1=col_list.index("Property_ID")
c2=col_list.index("Location")
c3=col_list.index("Price_SQ_FT")
c4=col_list.index("Bedrooms")
c5=col_list.index("Size")
print(c1)

0

FUNCTION TO CALCULATE THE PRICE

In [14]:
def calculate_price(c3,c5):
    res=float(c3)*float(c5)
    return str(res)
#call the function
header_out=header.map(lambda x:x.split("|")[f1]+"|"+x.split("|")[f2]+"|Final_Price")
rdd3=rdd2.map(lambda x:x[c1]+"|"+x[c2]+"|"+calculate_price(x[c3],x[c5]))

Final_out=header.union(rdd3)

In [15]:
Final_out.coalesce(1).saveAsTextFile("output.txt")